/* Reset some default styles */
body, h1, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Admin Panel Container */
.admin-panel {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Sidebar Styles */
.sidebar {
    width: 250px;
    background-color: #9c1e1e;
    color: #fff;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    color: #755eb4;
    display: block;
    padding: 5px 0;
}

.menu a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Main Content Styles */
.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.user-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.logout-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #56a1ed;
}

/* Content Area Styles */
.content {
    padding: 20px;
    overflow: auto;
}
