.status-button {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.status-button-enabled {
    background-color: rgb(66, 55, 107);
    color: white;
}

.status-button-disabled {
    background-color: #f44336;
    color: white;
}
.edit-button-disabled {
    background-color: #cccccc;
    color: #666666;
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;

}
.popup {
    
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 20px;
    background: #f9f9f9;
    z-index: 1000;
}
/* CSS for the heading */
.heading {
    text-align: center;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    color: #333;
}
/* CSS for the form and buttons */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"], button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    background-color: #754caf;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover, button:hover {
    background-color: #45a049;
}
button.closeBtn {
    background-color: #f44336;
}
button.closeBtn:hover {
    background-color: #d32f2f;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f5f5f5;
}